<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.19" targetFramework="net472" />
  <package id="BepInEx.Core" version="5.4.19" targetFramework="net472" />
  <package id="HarmonyX" version="2.7.0" targetFramework="net472" />
  <package id="MMHOOK.RoR2" version="2022.4.19" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="3.7.3" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="3.7.3" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.7.3" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net472" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.12.0" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.5.3" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.5.3" targetFramework="net472" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.5.3" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform" version="1.5.3" targetFramework="net472" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.5.3" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="21.12.13.1" targetFramework="net472" />
  <package id="MonoMod.Utils" version="21.12.13.1" targetFramework="net472" />
  <package id="R2API" version="5.0.5" targetFramework="net472" />
  <package id="R2API.ArtifactCode" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Colors" version="1.0.1" targetFramework="net472" />
  <package id="R2API.CommandHelper" version="1.0.1" targetFramework="net472" />
  <package id="R2API.ContentManagement" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Core" version="5.0.10" targetFramework="net472" />
  <package id="R2API.DamageType" version="1.0.4" targetFramework="net472" />
  <package id="R2API.Deployable" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Difficulty" version="1.1.1" targetFramework="net472" />
  <package id="R2API.Director" version="1.1.1" targetFramework="net472" />
  <package id="R2API.Dot" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Elites" version="1.0.2" targetFramework="net472" />
  <package id="R2API.Items" version="1.0.3" targetFramework="net472" />
  <package id="R2API.Language" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Loadout" version="1.0.2" targetFramework="net472" />
  <package id="R2API.LobbyConfig" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Networking" version="1.0.2" targetFramework="net472" />
  <package id="R2API.Orb" version="1.0.1" targetFramework="net472" />
  <package id="R2API.Prefab" version="1.0.3" targetFramework="net472" />
  <package id="R2API.RecalculateStats" version="1.2.0" targetFramework="net472" />
  <package id="R2API.SceneAsset" version="1.1.1" targetFramework="net472" />
  <package id="R2API.Skins" version="1.0.0" targetFramework="net472" />
  <package id="R2API.Sound" version="1.0.2" targetFramework="net472" />
  <package id="R2API.TempVisualEffect" version="1.0.2" targetFramework="net472" />
  <package id="R2API.Unlockable" version="1.0.2" targetFramework="net472" />
  <package id="RiskOfRain2.GameLibs" version="1.2.4-r.0" targetFramework="net472" />
  <package id="RoR2BepInExPack" version="1.7.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="2019.4.26" targetFramework="net472" developmentDependency="true" />
</packages>